.ARS {
  background-image: url(images/arsenal-logo.png);
}

.AST {
  background-image: url(images/astonvilla-logo.png);
}

.CHE {
  background-image: url(images/chelsea-logo.png);
}

.EVE {
  background-image: url(images/everton-logo.png);
}

.LIV {
  background-image: url(images/liverpool-logo.png);
}

.MCI {
  background-image: url(images/mancity-logo.png);
}

.MUN {
  background-image: url(images/manu-logo.png);
}

.NEW {
  background-image: url(images/newcastle-logo.png);
}

.NOR {
  background-image: url(images/norwich-logo.png);
}

.TOT {
  background-image: url(images/tottenham-logo.png);
}

.WOL {
  background-image: url(images/wolves-logo.png);
}

.BUR {
  background-image: url(images/burnley-logo.png);
}

.LEI {
  background-image: url(images/leicester-logo.png);
}

.SOU {
  background-image: url(images/southampton-logo.png);
}

.WAT {
  background-image: url(images/watford-logo.png);
}

.CRY {
  background-image: url(images/crystalpalace-logo.png);
}

.SHE {
  background-image: url(images/sheffield-logo.png);
}

.BHA {
  background-image: url(images/brighton-logo.png);
}

.WHU {
  background-image: url(images/westham-logo.png);
}

.BOU {
  background-image: url(images/afcbournemouth-logo.png);
}

/* .epl-icon {
  background-image: url(images/epl-icon.png);
} */
