html, body {
  font-family: Roboto;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid {
  height: 100vh;
}

.heading {
  height: 20%;
  color: white;
  background-color: #9D175F;
}

.home-header {
  width: 100%;
}

.epl-logo {
  width: 45%;
}

.home-wrapper {
  width: 100%;
}

.choose-team-heading {
  font-family: 'Alfa Slab One';
  margin: 3% 0;
}

.team-logos-wrapper {
  margin: 0 3%;
}

.team-logo {
  padding: 1%;
  transition: transform 200ms;
}

.team-logo:active {
  transform: scale(1.15);
}

.team-logo:hover {
  transform: scale(1.15);
}

.team-logo > img {
  width: 100%;
  cursor: pointer;
}

.details-header {
  min-height: 100%;
  width: 100%;
}

.logo-wrapper {
  width: 5rem;
  height: 5rem;
  background-color: white;
  border-radius: 50%;
  margin-left: 3%;
}

.epl-icon-wrapper {
  height: 4rem;
  width: 4rem;
  margin-right: 2%;
}

.details-team-logo, .epl {
  height: 85%;
  width: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-text-wrapper {
  width: 55%;
  margin-left: 3%;
}

.team-text-wrapper > span {
  font-size: 12px;
}

.team-details {
  height: 80%;
  position: relative;
}

.match-history {
  width: 100%;
}
.match-history div {
  display: flex;
  width: 100%;
}

.match-history div span {
  flex: 1;
  font-size: 12px;
  line-height: 24px;
}

.match-history div span:first-of-type {
  text-align: right;
  padding-right: 5px;
}

.match-history div span:last-of-type {
  text-align: left;
  padding-left: 5px;
}

.article {
  width: 100%;
  background-color: lightgray;
  font-size: 14px;
  padding: 0 3%;
}

.article-group > div {
  font-size: 14px;
  font-weight: bold;
}

.stadium-location {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  font-weight: bold;
  text-align: center;
  background-color: lightsteelblue;
}

#map {
  height: 30%;
  width: 100%;
}

@media only screen and (min-width: 576px) {
  .team-logo > img {
    width: 52%;
  }

  .choose-team-heading {
    font-size: 16px;
  }

  header {
    width: 75%;
  }

  .epl-logo {
    width: 25%;
  }
}
