html, body {
  font-family: Roboto;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid {
  height: 97vh;
}

.heading {
  height: 19vh;
  color: white;
  background-color: #9D175F;
}

.home-header {
  width: 100%;
}

.epl-logo {
  width: 45%;
}

.home-wrapper {
  width: 100%;
}

.choose-team-heading {
  font-family: 'Alfa Slab One';
  margin: 4% 0;
}

.team-logo {
  padding: 1%;
  transition: transform 200ms;
}

.team-logo:active {
  transform: scale(1.15);
}

.team-logo:hover {
  transform: scale(1.15);
}

.team-logo > img {
  width: 100%;
  cursor: pointer;
}

.details-header {
  min-height: 100%;
  width: 100%;
}

.logo-wrapper {
  width: 5rem;
  height: 5rem;
  background-color: white;
  border-radius: 50%;
}

.details-team-logo {
  height: 85%;
  width: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-text-wrapper {
  width: 55%;
  margin-left: 3%;
}

.team-text-wrapper > span {
  font-size: 14px;
}

.team-details {
  position: relative;
}

.home-button {
  font-size: 24px;
}

.match-history {
  min-height: 23vh;
  width: 100%;
}

.match-history div {
  display: flex;
  width: 100%;
}

.match-history div span {
  flex: 1;
  font-size: 14px;
  line-height: 24px;
}

.match-history div span:first-of-type {
  text-align: right;
  padding-right: 5px;
}

.match-history div span:last-of-type {
  text-align: left;
  padding-left: 5px;
}

.article {
  width: 100%;
  background-color: #BBCBCB;
  font-size: 14px;
  padding: 0 3%;
}

.article-group > div {
  font-size: 14px;
  font-weight: bold;
}

.stadium-location {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(176, 196, 222, 0.85);
}

#map {
  height: 22vh;
  width: 100%;
}

@media only screen and (min-width: 576px) {
  .team-logo > img {
    width: 63%;
  }

  .choose-team-heading {
    color: white;
    font-family: 'Alfa Slab One';
    font-size: 14px;
    margin: 1% 0;
    position: fixed;
    top: 11%;
    left: 42%;
  }

  header {
    width: 58%;
  }

  .epl-logo {
    width: 30%;
  }

  .article-group div {
    font-size: 12px;
  }

  .logo-wrapper {
    width: 4rem;
    height: 4rem;
  }

  #map {
    height: 23vh;
  }
}
