html, body {
  font-family: Roboto;
  height: 97vh;
  margin: 0;
  padding: 0;
}

.heading {
  height: 19vh;
  color: white;
  background-color: #9D175F;
}

.home-header {
  width: 100%;
}

.epl-logo {
  width: 45%;
}

.home-wrapper {
  width: 100%;
}

.choose-team-heading {
  font-family: 'Alfa Slab One';
  margin: 4% 0;
}

.team-logo {
  padding: 1%;
  transition: transform 200ms;
}

.team-logo:active {
  transform: scale(1.15);
}

.team-logo:hover {
  transform: scale(1.15);
}

.team-logo img {
  width: 95%;
  cursor: pointer;
}

.details-header {
  min-height: 100%;
  width: 100%;
}

.logo-wrapper {
  width: 5rem;
  height: 5rem;
  background-color: white;
  border-radius: 50%;
}

.details-team-logo {
  height: 85%;
  width: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-text-wrapper {
  width: 55%;
  margin-left: 3%;
}

.team-name {
  font-size: 16px;
  font-weight: bold;
}

.venue-name, .website {
  font-size: 14px;
}

.team-details {
  position: relative;
}

.home-button {
  font-size: 24px;
}

.match-history {
  width: 100%;
}

.match-history div {
  display: flex;
  width: 100%;
}

.match-history div span {
  flex: 1;
  font-size: 14px;
  line-height: 24px;
}

.match-history div span:first-of-type {
  text-align: right;
  padding-right: 5px;
}

.match-history div span:last-of-type {
  text-align: left;
  padding-left: 5px;
}

.article {
  width: 100%;
  background-color: #BBCBCB;
  font-size: 14px;
  padding: 0 3%;
}

.article-group div {
  font-size: 14px;
  font-weight: bold;
  padding: 1% 0;
}

.stadium-location {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: rgba(176, 196, 222, 0.85);
}

.team-details {
  display: flex;
  min-height: 81vh;
}

#map {
  min-height: 19vh;
  width: 100%;
}

.loading-modal {
  background-color: white;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 81vh;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader img {
  width: 140px;
}

.highlights {
  background-color: rgba(192, 192, 192, 0.8);
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 81vh;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  font-size: 48px;
  position: fixed;
  top: 23%;
  right: 2%;
}

iframe {
  width: 320px;
  min-height: 180px;
}

.animate-bottom {
  position: relative;
  animation-name: animatebottom;
  animation-duration: 1s
}

.animate-fade-in {
  position: relative;
  animation-name: animatefade;
  animation-duration: 2s
}

.animate-left {
  position: relative;
  animation-name: animateleft;
  animation-duration: 1s
}

.animate-right {
  position: relative;
  animation-name: animateright;
  animation-duration: 1s
}

@keyframes animatebottom {
  from {
    bottom:-200px;
    opacity:0
  }
  to {
    bottom:0;
    opacity:1
  }
}

@keyframes animatefade {
  from {
    opacity:0
  }
  to {
    opacity:1
  }
}

@keyframes animateleft {
  from {
    left:-500px;
    opacity:0
  }
  to {
    left:0;
    opacity:1
  }
}

@keyframes animateright {
  from {
    right:-500px;
    opacity:0
  }
  to {
    right:0;
    opacity:1
  }
}

@media only screen and (width: 375px) and (height: 667px){
   .epl-logo {
    margin-bottom: 2%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
  .article-group div {
    font-size: 12px;
  }

   .epl-logo {
    width: 40%;
  }
}

@media only screen and (width: 667px) and (height: 375px) {
  .team-logo img {
    width: 63%;
  }

  .epl-logo {
    width: 29%;
  }

  .title {
    margin-left: 10%;
  }

  .choose-team-heading {
    color: white;
    font-size: 14px;
    margin: 1% 0;
    position: fixed;
    top: 11%;
    left: 42%;
  }

  header {
    width: 58%;
  }

  .article-group div {
    font-size: 12px;
  }

  .logo-wrapper {
    width: 3.5rem;
    height: 3.5rem;
  }

}

@media only screen and (min-width: 667px) {
  iframe {
    width: 560px;
    height: 315px;
  }
}

@media only screen and (min-width: 768px) {
  .epl-logo {
    width: 30%;
  }

  .title {
    margin-top: 2%;
    font-size: 38px;
  }

  .team-name {
    font-size: 32px;
    font-weight: bold;
  }

  .venue-name, .website {
    font-size: 18px;
  }

  .home-button {
    font-size: 48px;
  }

  .choose-team-heading span {
    font-size: 24px;
  }

  .match-history div span {
    margin-bottom: 2%;
  }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .team-logo {
    margin-bottom: 4%;
  }

  .epl-logo {
    width: 30%;
    margin-bottom: 1%;
  }

  .title {
    margin: 0 auto;
    font-size: 36px;
  }

  .team-logo img {
    width: 100%;
  }

  .logo-wrapper {
    width: 9rem;
    height: 9rem;
  }

  .stadium-location {
    bottom: 13%;
    font-size: 18px;
  }

  .match-history h6, .article h6 {
    font-size: 24px;
  }

  .match-history div, .match-history div span, .article-group div a {
    font-size: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .team-logos-wrapper {
    margin: 3% 0;
  }

  .team-logo img {
    width: 80%;
  }

  .epl-logo {
    width: 20%;
    margin-left: 18%;
  }

  .title {
    margin-left: 4%;
    margin-bottom: 2%;
    font-size: 36px;
  }

  .choose-team-heading {
    color: white;
    font-size: 14px;
    margin: 1% 0;
    position: fixed;
    top: 11%;
    left: 40%;
  }

  .logo-wrapper {
    width: 7.5rem;
    height: 7.5rem;
  }

  .stadium-location {
    bottom: 15%;
    font-size: 20px;
  }

  .match-history h6, .article h6 {
    font-size: 24px;
  }

  .match-history div, .match-history div span, .article-group div a {
    font-size: 20px;
  }

  .match-history div span {
    line-height: 28px;
  }
}

@media only screen and (min-width: 1024px) {
  iframe {
    width: 800px;
    min-height: 450px;
  }
}

@media only screen and (min-width: 1200px) {
  .team-logo img {
    width: 140%;
    margin: 5% 0;
  }

  .epl-logo {
    width: 20%;
  }

  .title {
    font-size: 46px;
    margin: 0 auto;
  }

  .choose-team-heading span {
    font-size: 36px;
  }

  .logo-wrapper {
    width: 10rem;
    height: 10rem;
  }

  .match-history h6, .article h6 {
    font-size: 32px;
  }

  .match-history div, .match-history div span, .article-group div a {
    font-size: 28px;
  }

  .match-history div span {
    line-height: 38px;
  }

  .stadium-location {
    bottom: 8%;
    font-size: 24px;
  }
}
