html, body {
  font-family: Roboto;
  height: 97vh;
  margin: 0;
  padding: 0;
}

.heading {
  min-height: 19vh;
  color: white;
  background-color: #9D175F;
}

.home-header {
  width: 100%;
}

.epl-logo {
  width: 6%;
}

.title {
  font-family: 'Passion One';
  font-size: 48px;
}

.passion-one-font {
  font-family: 'Passion One';
}

.choose-team-heading {
  font-family: 'Alfa Slab One';
  font-size: 24px;
  margin: 2% 0;
}

.team-logo {
  padding: .2rem .1rem;
  transition: all 200ms ease-in;
}

.team-logo:active {
  transform: scale(1.15);
}

.team-logo:hover {
  transform: scale(1.15);
}

.team-logo img {
  width: 85%;
  height: auto;
  cursor: pointer;
}

.details-header {
  min-height: 100%;
  width: 100%;
}

.logo-wrapper {
  width: 5rem;
  height: 5rem;
  background-color: white;
  border-radius: 50%;
}

.details-team-logo {
  height: 83%;
  width: 83%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.team-text-wrapper {
  width: 55%;
  margin-left: 3%;
}

.team-name {
  font-size: 24px;
  line-height: 1;
}

.venue-name, .website {
  color: white;
}

.team-details {
  position: relative;
}

.home-button {
  font-size: 24px;
}

.match-results {
  width: 100%;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/images/match-results.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.match-results div {
  display: flex;
  width: 100%;
}

.match-results div span {
  flex: 1;
  font-size: 14px;
  line-height: 24px;
}

.match-results div span:first-of-type {
  text-align: right;
  padding-right: 5px;
}

.match-results div span:last-of-type {
  text-align: left;
  padding-left: 5px;
}

.article {
  width: 100%;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/images/match-report.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 14px;
  padding: 0 3%;
}

.article-group div {
  font-size: 14px;
  font-weight: bold;
  padding: 1% 0;
}

.stadium-location {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}

.team-details {
  display: flex;
}

#map {
  min-height: 30vh;
  width: 100%;
}

.modal-bg {
  background-color: #9D175F;
  position: fixed;
  z-index: 1;
  width: 100vw;
  min-height: 100vh;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  animation: spin 2s linear infinite;
  background-color: white;
  border-radius: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader img {
  width: 140px;
}

.hover:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.highlights {
  background-color: rgba(192, 192, 192, 0.8);
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.website:hover {
  color: white;
}

.close-button {
  font-size: 48px;
  position: fixed;
  top: 2%;
  right: 2%;
}

iframe {
  width: 320px;
  min-height: 180px;
}

.animate-bottom {
  position: relative;
  animation-name: animatebottom;
  animation-duration: 1s
}

.animate-fade-in {
  position: relative;
  animation-name: animatefade;
  animation-duration: 2s
}

.animate-left {
  position: relative;
  animation-name: animateleft;
  animation-duration: 1s
}

.animate-right {
  position: relative;
  animation-name: animateright;
  animation-duration: 1s
}

@keyframes animatebottom {
  from {
    bottom:-200px;
    opacity:0
  }
  to {
    bottom:0;
    opacity:1
  }
}

@keyframes animatefade {
  from {
    opacity:0
  }
  to {
    opacity:1
  }
}

@keyframes animateleft {
  from {
    left:-200px;
    opacity:0
  }
  to {
    left:0;
    opacity:1
  }
}

@keyframes animateright {
  from {
    right:-200px;
    opacity:0
  }
  to {
    right:0;
    opacity:1
  }
}

@media only screen and (min-width: 667px) {
  iframe {
    width: 560px;
    height: 315px;
  }

  .logo-wrapper {
    width: 4.5rem;
    height: 4.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  iframe {
    width: 800px;
    min-height: 450px;
  }

  .home-button {
    font-size: 48px;
  }

  .logo-wrapper {
    width: 8rem;
    height: 8rem;
  }

  .match-results h6, .article h6 {
    font-size: 32px;
  }

  .match-results div, .match-results div span, .article-group div a {
    font-size: 20px;
  }

  .match-results div span {
    line-height: 28px;
    padding-bottom: 1.3rem;
  }

  .stadium-location {
    bottom: 8%;
    font-size: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .title {
    font-size: 60px;
  }

  .subtitle {
    font-size: 24px;
  }

  .logo-wrapper {
    width: 9rem;
    height: 9rem;
  }

  .team-name {
    font-size: 48px;
  }

  .match-results h5, .article h5 {
    font-size: 36px;
  }

  .match-results div, .match-results div span, .article-group div a {
    font-size: 28px;
  }

  .match-results div span {
    line-height: 38px;
  }

  .stadium-location {
    bottom: 8%;
    font-size: 24px;
  }
}
