html, body {
  font-family: Roboto;
  height: 97vh;
  margin: 0;
  padding: 0;
}

.heading {
  min-height: 19vh;
  color: white;
  background-color: #9D175F;
}

.home-header {
  width: 100%;
}

.epl-logo {
  width: 6%;
}

.title {
  font-family: 'Passion One';
  font-size: 48px;
}

.passion-one-font {
  font-family: 'Passion One';
}

.choose-team-heading {
  font-family: 'Alfa Slab One';
  font-size: 24px;
  margin: 2% 0;
}

.team-logo {
  padding: 1%;
  transition: transform 200ms;
}

.team-logo:active {
  transform: scale(1.15);
}

.team-logo:hover {
  transform: scale(1.15);
}

.team-logo img {
  width: 95%;
  cursor: pointer;
}

.details-header {
  min-height: 100%;
  width: 100%;
}

.logo-wrapper {
  width: 5rem;
  height: 5rem;
  background-color: white;
  border-radius: 50%;
}

.details-team-logo {
  height: 85%;
  width: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-text-wrapper {
  width: 55%;
  margin-left: 3%;
}

.team-name {
  font-size: 24px;
}

.venue-name, .website {
  color: white;
}

.team-details {
  position: relative;
}

.home-button {
  font-size: 24px;
}

.match-history {
  width: 100%;
}

.match-history div {
  display: flex;
  width: 100%;
}

.match-history div span {
  flex: 1;
  font-size: 14px;
  line-height: 24px;
}

.match-history div span:first-of-type {
  text-align: right;
  padding-right: 5px;
}

.match-history div span:last-of-type {
  text-align: left;
  padding-left: 5px;
}

.article {
  width: 100%;
  background-color: #BBCBCB;
  font-size: 14px;
  padding: 0 3%;
}

.article-group div {
  font-size: 14px;
  font-weight: bold;
  padding: 1% 0;
}

.stadium-location {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}

.team-details {
  display: flex;
  min-height: 81vh;
}

#map {
  min-height: 19vh;
  width: 100%;
}

.loading-modal {
  background-color: white;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 81vh;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader img {
  width: 140px;
}

.hover:hover {
  transform: scale(1.2);
}

.highlights {
  background-color: rgba(192, 192, 192, 0.8);
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 81vh;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.website:hover {
  color: white;
}

.close-button {
  font-size: 48px;
  position: fixed;
  top: 23%;
  right: 2%;
}

iframe {
  width: 320px;
  min-height: 180px;
}

.delay {
  animation-delay: 1s;
}

.animate-bottom {
  position: relative;
  animation-name: animatebottom;
  animation-duration: 1s
}

.animate-fade-in {
  position: relative;
  animation-name: animatefade;
  animation-duration: 2s
}

.animate-left {
  position: relative;
  animation-name: animateleft;
  animation-duration: 1s
}

.animate-right {
  position: relative;
  animation-name: animateright;
  animation-duration: 1s
}

@keyframes animatebottom {
  from {
    bottom:-200px;
    opacity:0
  }
  to {
    bottom:0;
    opacity:1
  }
}

@keyframes animatefade {
  from {
    opacity:0
  }
  to {
    opacity:1
  }
}

@keyframes animateleft {
  from {
    left:-500px;
    opacity:0
  }
  to {
    left:0;
    opacity:1
  }
}

@keyframes animateright {
  from {
    right:-500px;
    opacity:0
  }
  to {
    right:0;
    opacity:1
  }
}

@media only screen and (min-width: 667px) {
  iframe {
    width: 560px;
    height: 315px;
  }
}

@media only screen and (min-width: 1024px) {
  iframe {
    width: 800px;
    min-height: 450px;
  }
}

@media only screen and (min-width: 1200px) {
  .team-logo img {
    width: 140%;
    margin: 5% 0;
  }

  .logo-wrapper {
    width: 9rem;
    height: 9rem;
  }

  .match-history h6, .article h6 {
    font-size: 32px;
  }

  .match-history div, .match-history div span, .article-group div a {
    font-size: 28px;
  }

  .match-history div span {
    line-height: 38px;
  }

  .stadium-location {
    bottom: 8%;
    font-size: 24px;
  }
}
