html, body {
  font-family: Roboto;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid {
  width: 100vw;
  height: 100vh;
}

.heading {
  height: 15%;
  color: white;
  background-color: #9D175F;
}

.details-header {
  width: 100%;
}

.home-header {
  width: 100%;
}

.epl-logo {
  width: 40%;
}

.home-wrapper {
  width: 100%;
}

.choose-club-heading {
  height: 14%;
  width: 100%;
  font-family: 'Alfa Slab One'
}

.club-logos-wrapper {
  height: 86%;
  margin: 0 3%;
}

.club-logo {
  padding: 1%;
  transition: transform 200ms;
}

.club-logo:active {
  transform: scale(1.15);
}

.club-logo:hover {
  transform: scale(1.15);
}

.club-logo > img {
  cursor: pointer;
}

.logo-container {
  width: 4rem;
  height: 4rem;
  background-color: white;
  border-radius: 50%;
  margin-left: 3%;
}

.home-container {
  min-height: 4rem;
  width: 4rem;
}

.details-team-logo, .epl-header {
  height: 85%;
  width: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-text {
  width: 60%;
  margin-left: 3%;
}

.team-text > span {
  font-size: 12px;
}

.club-details {
  height: 83%;
  position: relative;
}

.match-history {
  height: 30%;
  width: 100%;
}
.match-history div {
  display: flex;
  width: 100%;
}

.match-history div span {
  flex: 1;
  font-size: 12px;
  line-height: 24px;
}

.match-history div span:first-of-type {
  text-align: right;
  padding-right: 5px;
}

.match-history div span:last-of-type {
  text-align: left;
  padding-left: 5px;
}

.article {
  height: 40%;
  width: 100%;
  background-color: lightgray;
  font-size: 14px;
}

.article-group > div {
  font-size: 14px;
  font-weight: bold;
}

.stadium-location {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  font-weight: bold;
  text-align: center;
  background-color: lightsteelblue;
}

#map {
  height: 30%;
  width: 100%;
}
