body {
  font-family: Roboto;
}

.container {
  height: 100vh;
  width: 100vw;
}

.heading {
  height: 17%;
  background-color: #9D175F;
}

header {
  height: 100%;
  width: 100%;
}

.epl-logo {
  height: 70%;
}

.choose-club-heading {

}

.main {
  height: 83%;
}
